// fonts
$font-title: "Roboto Slab", serif;
$font-text: 'Roboto', sans-serif;

// colors
$color-moss-green: #6c933e;
$color-light-grey: #d9e4cc;
$color-greyish-brown: #4a4a4a;
$color-brownish-grey: #626262;
$color-light: #ffffff;
$color-dark: #000000;

