@use "../core/variables" as vars;

footer.footer {
    background-color: vars.$color-greyish-brown;
    color: vars.$color-light;
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;

    @media (min-width: 768px){
        flex-direction: row;
        justify-content: space-evenly;
        align-items: baseline;

        & .footer__list {
            text-align: left;
        }
    }

    & a.footer__btn {
        display: block;
        position: absolute;
        top: -20px;

        & div.footer__icon {
            background-color: vars.$color-light;
            display: flex;
            justify-content: center;
            width: 40px;
            height: 40px;
            border-radius: 50px;
            box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.5);
    
            & img.footer__icon {
                width: 20px;
            }
        }
    }
       
    & nav.footer__menu {
        font-family: vars.$font-text;
        font-size: 20px;
        font-weight: 300;
        text-align: center;
        padding: 50px 0 30px;

        @media (min-width: 768px){
            order: 2;
        }

        & a.footer__link {
            display: block;
            padding: 7px;
        }
    }

    & nav.footer__socials {
        font-family: vars.$font-text;
        font-size: 20px;
        font-weight: 300;
        text-align: center;

        @media (min-width: 768px){
            order: 3;
        }

        & a.footer__link {
            display: block;
            padding: 7px;
        }
    }

    p {
        font-family: vars.$font-text;
        font-size: 18px;
        font-weight: 300;
        text-transform: lowercase;
        text-align: center;
        line-height: 30px;
        padding: 40px 0 60px;

        & span {
            padding: 7px;
            color: vars.$color-moss-green;
        }
    }
}