@use "../core/variables" as vars;

header.hero {
    color: vars.$color-white;
    background-image: url(../../public/images/cover.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 85% 0;
    width: 100vw;
    height: 100vh;
    text-align: center;
}

// header img.menu {

// }

// h1 {

// }