<section class="back-to-school" id="back-to-school">
  <p class="back-to-school__text">¡Prepáralos con tus marcas favoritas!</p>
  <h3 class="back-to-school__subtitle">VUELTA AL COLE</h3>

  <img
    class="back-to-school__backpacks"
    src="images/lpbts-mod05-img01-desk.png"
    alt="Foto Mochilas escolares"
  />
  <h4 class="back-to-school__backpacks">Mochilas escolares</h4>

  <img
    class="back-to-school__cases"
    src="images/lpbts-mod05-img04-mob.png"
    alt="Foto Estuches"
  />
  <h4 class="back-to-school__cases">Estuches</h4>

  <img
    class="back-to-school__bags"
    src="images/lpbts-mod05-img03-mob.png"
    alt="Foto Bolsas de deporte"
  />
  <h4 class="back-to-school__bags">Bolsas de deporte</h4>

  <a href="/" class="back-to-school__btn">Empezar ahora</a>
</section>
