<footer class="footer">
    <a class="footer__btn" href="#hero">
        <div class="footer__icon">
            <img class="footer__icon" src="images/ico-arrow.svg" alt="icon-arrow">
        </div>
    </a>    
    <nav class="footer__menu">
        <ul>
            <li><a href="https://adalab.es/" class="footer__link">zapatillas</a></li>
            <li><a href="https://adalab.es/" class="footer__link">ropa</a></li>
            <li><a href="https://adalab.es/" class="footer__link">niño/a</a></li>
            <li><a href="https://adalab.es/" class="footer__link">destacados</a></li>
            <li><a href="https://adalab.es/" class="footer__link">tips</a></li>
        </ul>
    </nav>
    <nav class="footer__socials">
        <ul>
            <li><a href="https://adalab.es/" class="footer__link">twitter</a></li>
            <li><a href="https://adalab.es/" class="footer__link">instagram</a></li>
            <li><a href="https://adalab.es/" class="footer__link">youtube</a></li>
        </ul>        
    </nav>
    <p>&copy;2023<br/>we<span><i class="fa-solid fa-heart fa-beat"></i></span>run</p>       
</footer>
