<header class="hero" id="hero">
    <a href="https://adalab.es/">
        <div class="hero__menu">
            <img class="hero__menu" src="images/ico-menu.svg" alt="ico-menu">
        </div>
    </a>    
    <h1 class="hero__title">comienzos compartidos</h1>
    <p class="hero__text">Todo lo que necesitan para volver al cole con ilusión</p>
    <a href="#back-to-school">
        <div class="hero__btn">
            <img class= "hero__icon" src="images/ico-scroll-down.svg" alt="ico-scroll-down">
        </div>
    </a>        
</header>
